<div class="other-header">
    <div id="Summery" class="container mt-5 p-4" style="font-size: 1.2em">
        <div class="row">
            <div class="col-md-4 m-4 p-2 text-right font-weight-bold">First name:</div>
            <div class="col-md-4 m-4 p-2">Divya</div>
        </div>
        <div class="row">
            <div class="col-md-4 m-4 p-2 text-right font-weight-bold">First name:</div>
            <div class="col-md-4 m-4 p-2">Divya</div>
        </div>
        <div class="row">
            <div class="col-md-4 m-4 p-2 text-right font-weight-bold">First name:</div>
            <div class="col-md-4 m-4 p-2">Divya</div>
        </div>
        <div class="row">
            <div class="col-md-4 m-4 p-2 text-right font-weight-bold">Last name:</div>
            <div class="col-md-4 m-4 p-2">Divya</div>
        </div>
        <div class="row">
            <div class="col-md-4 m-4 p-2 text-right font-weight-bold">Vehicle Registration Number:</div>
            <div class="col-md-4 m-4 p-2">Divya</div>
        </div>
        <div class="row">
            <div class="col-md-4 m-4 p-2 text-right font-weight-bold">Mobile Number:</div>
            <div class="col-md-4 m-4 p-2">Divya</div>
        </div>
        <div class="row">
            <div class="col-md-4 m-4 p-2 text-right font-weight-bold">Pickup Date:</div>
            <div class="col-md-4 m-4 p-2">Divya</div>
        </div>
        <div class="row">
            <div class="col-md-4 m-4 p-2 text-right font-weight-bold">Return Date:</div>
            <div class="col-md-4 m-4 p-2">Divya</div>
        </div>
    </div>
</div>