<div class="other-header">
  <div class="card bg-light" style="width: 90%; margin: 2%; color:#34495e;">
      <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/ViewServiceRequestDetails" class="card-link">View Details</a>
          <a href="#" class="card-link">Delete</a>
      </div>
  </div>
  <div class="card bg-light" style="width: 90%; margin: 2%;  color:#34495e;">
      <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/ViewServiceRequestDetails" class="card-link">View Details</a>
          <a href="#" class="card-link">Delete</a>
      </div>
  </div>
  <div class="card bg-light" style="width: 90%; margin: 2%;  color:#34495e;">
      <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/ViewServiceRequestDetails" class="card-link">View Details</a>
          <a href="#" class="card-link">Delete</a>
      </div>
  </div>
</div>