<div class="col-xs-12 text-center abcen1">
  <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Car Service</h1>
  <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">We care for your car more than you do!</h3>
  <ul class="list-inline intro-social-buttons">
    <li>
      <a routerLink="/CreateServiceRequest" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s">
        <span class="network-name">Create Service Request</span>
      </a>
    </li>
    <li id="download">
      <a routerLink="/ViewServiceRequests" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s">
        <span class="network-name">View Service Requests</span>
      </a>
    </li>
  </ul>
</div>